<!DOCTYPE html>
<html>
<head>
    <title>Joe's Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello World!</h1>
        
        <div>
            <div class="aboutMe"><h3>About me!</h3></div>
            <p> Hello, My name is Joe. I'm a rising senior at Marquette University who is currently studying Computer Science. I am particularly interested 
            in systems and low level programming. Other interests of mine include embedded systems, programing computer games and game devlopment, and Web Design. 
            I a currently am 'On Your Marq' tutor for the Office of Disability Services at Marquette,
            where I'm responsible for teaching and reviewing topics relevant to the Marquette Algorithms course. Beyond this I am also a member of 
            Upsilon Psi Epsilon and as a result have volunteer experience working the undergraduate computer science help desk, 
            where I was responsible for reviewing topics relevant to Marquette's Introduction to Software Development Course, Object Oriented-Design Course and Data Structures Course. 
            My favorite and probably the most interesting project I've worked on at my time at Marquette was my MiniJava compiler, another project that im currently working on is the 
            RustPython JIT Compiler, more info coming soon! </p>
            </div>
        
            <div class="projects">
            <h2>My Projects</h2>
            <h3>MiniJava Compiler</h3>
            <A HREF="/miniJavaCompiler">About this Project</A>    
            <h3>Embedded-Xinu OS</h3>
            <A HREF="/embeddedXinuOS">About this Project</A>   
            <h3>Senior Design: RustPython JIT Compiler</h3>
            <A HREF="/rustPythonJIT">About this Project</A>  
            <h3>Pixel Editor(WIP)</h3>
            <A HREF="/pixelEditor">About this Project</A>  
            <p> </p>
        </div>
</body>
</html>