<!DOCTYPE html>
<html>
<head>
    <title>Joe's Website ~ Resume</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul class="topnav">
            <li><a class="active" href="/">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Projects</a>
                <div class="dropdown-content">
                    <a href ="/miniJavaCompiler">MiniJava</a>
                    <a href ="/embeddedXinuOS">Xinu OS</a>
                    <a href ="/rustPythonJIT">Rust Python</a>
                    <a href ="/laptopPrice">Laptop Analysis</a>
                </div>
            </li>
            <li><a class="/" href="/resume">Resume/CV</a></li>
            <li><a class="/" href="/aboutMe">More About me</a></li>
        </ul>
    </nav>

    <div class = "title-box">Joseph Loparco - Resume/CV</div>
            
    <div class = "content-div">
            <div class = "resume"><h1>Resume</h1></div>
            <div class = "underlineLeft"></div>
        <div class="skill-category">             
            <h2>Education</h2>
            <div class = "underlineLong"></div>
            <h3>Marquette University B.S. Computer Science ~ GPA:3.60</h3>
            <h4>Minor: History</h4>
            <h3>Relevant Courses</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Operating Systems</span>
                <span class="skill-tag-big">Compiler Construction</span>
                <span class="skill-tag-big">Fundamentals of Artifical Intelligence</span>
                <span class="skill-tag-big">Principles of Design</span>
                <span class="skill-tag-big">Algorithms</span>
                <span class="skill-tag-big">Introduction to Data Science</span>
                <span class="skill-tag-big">Real-Time & Embedded Systems</span>
                <span class="skill-tag-big">Senior Design</span>
                <span class="skill-tag-big">Data Structures</span>
                <span class="skill-tag-big">Hardware Systems</span>
                <span class="skill-tag-big">Programming Computer Games</span>
                <span class="skill-tag-big">Linear Algebra & Matrix Theory</span>
                <span class="skill-tag-big">Statistical Mehtods</span>
                <span class="skill-tag-big">Discrete Mathematics</span>
                <span class="skill-tag-big">Calculus I</span>
                <span class="skill-tag-big">Calculus II</span> 
            </div>
        </div>
        <div class="skill-category">
            <h2>Skills</h2>
            <div class = "underlineLong"></div>
        </div>
        <div class="skill-category">
            <h3>Programming Languages</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Java</span>
                <span class="skill-tag-big">C</span>
                <span class="skill-tag-big">Python</span>
                <span class="skill-tag-big">JavaScript</span>
                <span class="skill-tag-big">Rust</span>
                <span class="skill-tag-big">MATLAB</span>
                <span class="skill-tag-big">HTML/CSS</span>
            </div>
        </div>
        <div class="skill-category">
            <h3>Technologies & Tools</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Compiler Design</span>
                <span class="skill-tag-big">Operating Systems</span>
                <span class="skill-tag-big">Embedded Systems</span>
                <span class="skill-tag-big">Game Development(Unity)</span>
                <span class="skill-tag-big">Web Development(React)</span>
                <span class="skill-tag-big">Git</span>
                <span class="skill-tag-big">Flask</span>
            </div>
        </div>
        <div class="skill-category">
            <h3>Soft Skills</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Mentoring</span>
                <span class="skill-tag-big">Problem Solving</span>
                <span class="skill-tag-big">Technical Communication</span>
                <span class="skill-tag-big">Team Collaboration</span>
                <span class="skill-tag-big">Project Management</span>
            </div>
        </div>
        <div class="skill-category">
            <h2>Professional Experience</h2>
            <div class = "underlineLong"></div>
            <h3>On Your Marq Peer Tutor - Marquette Office of Disability Services</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Mentoring</span>
                <span class="skill-tag-big">Problem Solving</span>
                <span class="skill-tag-big">Technical Communication</span>
                <span class="skill-tag-big">Python</span>
                <span class="skill-tag-big">C</span>
            </div>
            <p class="aboutMeP">
                Responsible for covering material and assisting with assignments related to courses such as Algorithms, Operating
                Systems, & Intro to Software Development. Responsible for coordinating individual meetings with students in Marquette’s 
                OYM program. 
                Major Topics responsible for covering (Algorithms):
                Regular Expressions, Finite Automata, Sorting Algorithms, Divide and Conquer,
                Greedy Algorithms, Graph/Tree Traversal and Computational Algorithm Complexity in terms of time and space,
                Python Programming.
                Major Topics responsible for covering (Operating Sytems):
                Virtualization of Memory & Paging, Multi-threaded Programming &
                Parallelism, Embedded Xinu, C Programming, POSIX API.
                Major Topics responsible for covering (Intro to Software Develoopment):
                Basic Programming Paradigms, Object Oriented Programming,
                Python Programming.
            </p>
            <h3>Student Gallery Aide - Cleve Carney Musuem of Art - College of Dupage</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Problem Solving</span>
                <span class="skill-tag-big">Team Collaboration</span>
                <span class="skill-tag-big">Customer Serivce</span>
            </div>
            <p class="aboutMeP">

            Assisted in set-up and takedown of exhibitions. Monitored visitor activity in the gallery to 
            ensure that gallery rules are followed and that the artwork was protected.  
            Kept the gallery open during posted hours of operations. Maintained a clean and organized exhibit area to 
            ensure the best experience possible for patrons. 
            </p>
            <h3>Staff Member - Tangible Books</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Problem Solving</span>
                <span class="skill-tag-big">Team Collaboration</span>
                <span class="skill-tag-big">Customer Serivce</span>
                <span class="skill-tag-big">Wood Working</span>
            </div>
            <p class="aboutMeP">
                Performed general administrative tasks such as restocking supplies. Maintained a clean and organized work area to ensure an e cient shopping experience for customers.
                Developed knowledge of store products, services, policies and procedures. Built and maintained bookshelves for additional inventory.
            </p>
        </div>
        <div class="skill-category">
            <h2>Volunteer Experience</h2>
            <div class = "underlineLong"></div>
            <h3>Undergraduate Help Desk assitant - Upsilon Pi Epilon: Marquette Chapter</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Mentoring</span>
                <span class="skill-tag-big">Problem Solving</span>
                <span class="skill-tag-big">Technical Communication</span>
                <span class="skill-tag-big">Python</span>
                <spac class = "skill-tag-big">Java</spac>
                <span class="skill-tag-big">C</span>
            </div>
            <p class="aboutMeP">Helped students enrolled in Intro to Software Development, Intro to Object Oriented Programming, Hardware
            Systems & Data Structures, explaining challenging concepts and fundamental programming knowledge to students. 
            Helped solve complex problems that were relevant to course material in Python, Java, C 
            </p>
            <h3>Volunteer Staffer - Order of Sons of Italy in America</h3>
            <div class = "underlineLeft"></div>
            <div class="skills-list">
                <span class="skill-tag-big">Team Collaboration</span>
                <span class="skill-tag-big">Customer Service</span>
            </div>
            <p class="aboutMeP">
            Seasonal experience working at various events for the lodge. Gained valuable experience in a fast-paced environment. 
            Communicated effectively with patrons, supervisors, and team members. 
            </p>
        </div>
        <div class="skill-category">
            <h2>Honors & Awards</h2>
            <div class = "underlineLong"></div>
            <h3>Kingler College of Arts & Sciences Dean's List - Spring & Fall 2024</h3>
            <h3>Member Upsilon Pi Epsilon: Marquette Chapter - ACHS Member Society</h3>
        </div>
    </div>
    </div>

           
    <footer>
        <div class="footer-container">
            <div class="social-links">
                <a href="https://github.com/JoeLoparco" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/joseph-loparco-108532345/" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="https://app.joinhandshake.com/profiles/8td9dw" class="social-link"><i class="fas fa-handshake"></i></i></a>
            </div>
            <p class="footer-text">&copy; 2025 Joe Loparco. All rights reserved.</p>
        </div>
    </footer>

        
</body>
</html>