<!DOCTYPE html>
<html>
<head>
    <title>Joe's Website ~ Rust Python JIT Compiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
    <h1>JIT Compiling</h1>
        <p> Project Description: : Attempitng to Build Various portions of JIT for rustPython(an implementation of the python language in rust). More Updates Coming soon!
            
            <h2>More Coming Soon!<h2>


            <h3>More info on the project below!</h3>

           <h4><A HREF="https://www.cs.mu.edu/~brylow/cosc3250/Spring2024/">GitHUB(Our Team's Project) </A></h4>
           <h4><A HREF="https://github.com/JoeLoparco/Operating_Systems"> GitHub Project(Community Project)</A></h4>
            </div>
        
</body>
</html>