<!DOCTYPE html>
<html>
<head>
    <title>Joe's Website ~ Embedded Xinu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
    <h1>Embedded Xinu!!</h1>
        <p> Project Description: : Built various parts of a Xinu-Based operating system in C and some assembly language and implemented it on RISC-V hardware. 
            Significant parts of the OS that were built include serial driver, context switch, proportional process scheduling algorithm and processes scheduler, 
            trap handling system, simple file system, and memory management system. The work done in this project was done in a larger code base. 
            
            <h2>More Coming Soon!<h2>


            <h3>More info on the project below!</h3>

           <h4><A HREF="https://www.cs.mu.edu/~brylow/cosc3250/Spring2024/">Course Website </A></h4>
           <h4><A HREF="https://github.com/JoeLoparco/Operating_Systems"> GitHub Project(*Not Complete due to IP issues)</A></h4>
            </div>
        
</body>
</html>